<div class="inactive_collection">
  <div class="collection_structure">
    <h2 id="collection-title">Select a collection</h2>
    <table id="collection-table">
      <thead>
        <tr>
          <th>Field Name</th>
          <th>Field Type</th>
        </tr>
      </thead>
      <tbody>
        <!-- Rows for schema details will be dynamically injected here -->
        
      </tbody>
    </table>
  </div>
  
  <div class="data_processing">
    <h2>Insert data</h2>
    <div class="empty_explain">
      <p>This collection is empty. Choose from the following your preferred method of inserting data into the collection.</p>
    </div>

    <div class="processing_opts">
      <button class="init_fileUpload" id="open-modal-btn" >
        <img src="assets/icons/upload-file.svg" alt="upload-file">
        <span>Upload File</span>
      </button>

      <button class="init_manualForm">
        <img src="assets/icons/form.svg" alt="form">
        <span>Enter manually</span>
      </button>

      <button class="init_xlsTemplate">
        <img src="assets/icons/template.svg" alt="template">
        <span>Get .xls template</span>
      </button>
    </div>
  </div>
</div>