<div class="inactive_collection">
  <div class="collection_structure">
    <h2 id="collection-title">Select a collection</h2>
    <table id="collection-table">
      <thead>
        <tr>
          <th>Field Name</th>
          <th>Field Type</th>
        </tr>
      </thead>
      <tbody>
        <!-- Rows for schema details will be dynamically injected here -->
        {{!-- {{#each schemas}}
          <tr>
            <td></td>

          </tr>
        {{/each}} --}}
      </tbody>
    </table>
  </div>
  
  <div class="data_processing">
    {{!-- Display the different ways of inserting data into the specified collection --}}
    <div class="processing_opts">
      <span>Upload File</span>
      <span>Enter manually</span>
      <span>Get .xls template</span>
    </div>

    <div class="processing_method">
      
    </div>
  </div>
</div>